<footer class="site-footer">
  <style>
    ul #menu 
    ul {    overflow: hidden;}
    li {
    display:inline; } 
  </style>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <ul class="list-inline text-center footer-links" style="list-style: none;" id="menu"> 
          <li>
            <a href="https://github.com/mfefer" title="GitHub">
              <span class="fa-stack fa-2x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          
      
          <li>
            <a href="https://twitter.com/max_fefer" title="Twitter">
              <span class="fa-stack fa-2x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          
      
          <li>
            <a href="mailto:mafefer@ucdavis.edu" title="Email me">
              <span class="fa-stack fa-2x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          
      
          <li>
            <a href="https://linkedin.com/in/maxfefer" title="LinkedIn">
              <span class="fa-stack fa-2x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
                    
        </ul>

      </div>
    </div>
  </div>

    <span class="site-footer-owner">This website is maintained by <a href="mailto:mafefer@ucdavis.edu" target="_top">Max Fefer</a>  and <a href="https://github.com/matt-trinh">Matthew Trinh</a>.</span>

</footer>

